/NvrServerVer1.16.WK3
/NvrServerVer1.16.PS
/NvrServerVer1.16.IAB
/NvrServerVer1.16.IAD
/NvrServerVer1.16.IMB
/NvrServerVer1.16.IMD
/NvrServerVer1.16.PFI
/NvrServerVer1.16.PO
/NvrServerVer1.16.PR
/NvrServerVer1.16.PRI
/NvrServerVer1.16.SearchResults
/*.o
/nvrd
/.gitignore
/cscope.out
/cscope.po.out
/nohup.out
/tags
/cscope.in.out
/*.sh
/init.c
